<!doctype html>
<html>
<head>
<title> {{ instanceTitle }} | Login </title>
</head>
<body>

<form action="/login" method="post">

<input name="usr" type="text"> Username </input>
<input name="pwd" type="password"> Password </input>
<input type="submit" value="Submit"> </input>

</form>

</body>
</html>
