<!doctype html>
<html>
<style>
.sidebar {
min-height: 100%;
height: auto !important;
height: 100%;
width: 15%;
position: fixed;
top: 0;
left: 0;
padding-top: 40px;
background-color: lightblue;
}

.sidebar div {
padding: 8px;
font-size: 24px;
display: block;
}

.body-text {
margin-left: 15%;
font-size: 18px;
}
</style>
<head>
<title> {{ instanceTitle }} | Make Post </title>
</head>
<body>

<div class="sidebar">
<div><a href="/mkpo">Post</a></div>
<div><a href="/edpr">Edit profile</a></div>
<div><a href="/mode">Moderation</a></div>
<div><a href="/signout">Sign out</a></div>
</div>

<div class="body-text">
<form action="/mkpo" method="post">
<textarea name="post" rows="10",cols="10">Type your post here, limit is {{ characterLimitGeneral }} characters.</textarea><br/><br/>
<input type="submit" value="{{ postButtonText }}"/>
</form>
</div>

</body>
</html>
